<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ujiuye.mapper.DeptMapper">

    <select id="list" resultType="Dept">
        SELECT * FROM dept
    </select>

    <select id="getByNo" resultType="Dept">
        SELECT * FROM dept WHERE deptno=#{no}
    </select>

    <insert id="save" parameterType="Dept" >
        INSERT INTO `dept`(`deptno`, `dname`, `local`)
        VALUES (#{deptno},#{dname},#{local})
    </insert>

    <update id="update" parameterType="Dept">
        UPDATE `dept`
        SET `dname` = #{dname}, `local` = #{local}
        WHERE `deptno` = #{deptno}
    </update>

    <delete id="remove">
        DELETE FROM dept WHERE deptno=#{no}
    </delete>
</mapper>