<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ujiuye.mapper.NoticeMapper">

    <resultMap id="baseResultMap" type="Notice">
        <id property="id" column="id"/>
        <result property="title" column="title"/>
        <result property="content" column="content"/>
        <result property="date" column="date"/>
        <result property="path" column="path"/>
        <result property="createBy" column="createBy"/>
        <association property="employee" javaType="com.ujiuye.pojo.Employee"
                     column="createBy"
                     select="com.ujiuye.mapper.EmployeeMapper.getById"/>
    </resultMap>

    <select id="list" resultMap="baseResultMap">
        SELECT * FROM notice
    </select>

    <select id="getById" resultMap="baseResultMap">
        SELECT * FROM notice WHERE id=#{id}
    </select>

    <insert id="save" parameterType="Notice" >
        INSERT INTO `notice`(`id`, `title`, `content`, `date`, `path`, `createBy`)
        VALUES (#{id},#{title},#{content},#{date},#{path},#{createBy});
    </insert>


</mapper>